<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="annie.com.quizproject"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.QuizActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".controller.ResultsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            tools:replace="android:theme"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider141731266359727"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>



</manifest>